<!-- athlete-list.component.html -->
<div *ngIf="loading">Loading...</div>

<table *ngIf="!loading">
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Email</th>
      <th>Phone Number</th>
      <th>Sport Type</th>
      <th>Team Name</th>
      <th>Ranking</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let athlete of paginatedAthletes">
      <td>{{ athlete.name }}</td>
      <td>{{ athlete.age }}</td>
      <td>{{ athlete.email }}</td>
      <td>{{ athlete.phoneNumber }}</td>
      <td>{{ athlete.sportType }}</td>
      <td>{{ athlete.teamName }}</td>
      <td>{{ athlete.ranking }}</td>
      <td>
        <button [routerLink]="['/athletes/edit', athlete.id]">Edit</button>
      </td>
    </tr>
  </tbody>
</table>

<div class="pagination" *ngIf="!loading && athletes.length > 0">
  <button (click)="previousPage()" [disabled]="currentPage === 1">Previous</button>
  <span>Page {{ currentPage }} of {{ totalPages }}</span>
  <button (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
</div>